* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 position: relative;
  font-family: "Georgia", serif;
  background: #ffb6c1;
  color: #964b00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.intro {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 30px;
  opacity: 1;
  transition: opacity 1s ease;
}
.btn {
  padding: 40px 80px;
  font-size: 7rem;
  background: #f5eeef;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(150, 75, 0);
  transition: 1s;
}
.btn:hover {
  background: #00ff00;
}
.letter {
  display: none;
  position: absolute;
  top: 35%;
  left: 72.5%;
  transform: translate( -80% , -90%);
  background: repeating-linear-gradient(
    to bottom,
    #fdf6e3 0px,
    #fdf6e3 27px,
    #d2d2d2 28px
  );
  color: #008000;
  padding: 50px 50px 50px 90px;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  height: 1200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: left;
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: "Courier New", monospace;
  overflow: visible;
}
.letter p {
  margin-top: -65px;
  overflow: hidden;
}
.letter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-image: radial-gradient(circle, #ffb6c1 6px, transparent 7px);
  background-size: 25px 40px;
  background-repeat: repeat-y;
  background-position: center;
  pointer-events: none;
}
.signature {
  position: absolute;
  bottom: -20px;
  right: 6px;
  width: 200px;
  opacity: 0.9;
  pointer-events: none;
  transform: rotate(-2deg);
}
.btn2 {
  position: absolute;
  top: 1075;
  padding: 20px 40px;
  font-size: 2.5rem;
  background: #f5eeef;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(150, 75, 0);
  transition: 1s;
}
  .heart {
  position: absolute;
  pointer-events: none;
  font-size: 10px;
  animation: floatUp 10s ease-out forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-120px) scale(3);
    opacity: 0;
  }
}
.bg-heart {
  position: fixed;
  font-size: 24px;
  opacity: 0.25;
  pointer-events: none;
  z-index: -1;
  }


